<div class="adding-container">
    <img id="image" src="image/icons8-bagel-48.png" alt="">
    <h2 id="food">title</h2>
    <p id="describe">Describtion</p>
    <div class="adding-bar">
        <div id="btn_toggle" class="adding-toggle"></div>
        <button id="btn_size">Size</button>
        <button id="btn_drink">Drinks</button>
    </div>
    <div id="size" class="adding-content-size">
        <div id="div_small" class="adding-content-size-div">
            <img id="size_img1" src="image/icons8-bagel-48.png" alt="">
            <p>Small</p>
        </div>
        <div id="div_medium" class="adding-content-size-div">
            <img id="size_img2" src="image/icons8-bagel-48.png" alt="">
            <p>Medium</p>
        </div>
        <div id="div_big" class="adding-content-size-div">
            <img id="size_img3" src="image/icons8-bagel-48.png" alt="">
            <p>Big</p>
        </div>
    </div>
    <div id="drink" class="adding-content-drink">
        <div class="adding-content-drink-box">
            <div id="div_coffee" class="adding-content-drink-div">
                <img src="image/icons8-coffee-48.png" alt="">
                <p>+ RM 2.10</p>
                <p>Coffee</p>
            </div>
            <div id="div_special" class="adding-content-drink-div">
                <img src="image/icons8-kawaii-coffee-64.png" alt="">
                <p>+ RM 2.70</p>
                <p>Special Coffee</p>
            </div>
            <div id="div_lemonade" class="adding-content-drink-div">
                <img src="image/icons8-lemonade-48.png" alt="">
                <p>+ RM 1.10</p>
                <p>Lemonade</p>
            </div>
        </div>
        <div class="adding-content-drink-box">
            <div id="div_milk" class="adding-content-drink-div">
                <img src="image/icons8-milkshake-48.png" alt="">
                <p>+ RM 3.50</p>
                <p>Milkshake</p>
            </div>
            <div id="div_cocktail" class="adding-content-drink-div">
                <img src="image/icons8-coconut-cocktail-48.png" alt="">
                <p>+ RM 5.20</p>
                <p>Cocktail</p>
            </div> 
        </div>
    </div>
    <button id="add" class="adding-container-add">Add To Cart</button>
</div>
<script src="js/addingFood.js"></script>