<div class="fast-container">
    <div class="food-menu-bar">
        <p id="food_menu_fast">Fast Food</p>
        <p id="food_menu_main">Main Course</p>
        <p id="food_menu_dessert">Dessert</p>
        <p id="food_menu_appertizer">Appertizer</p>
    </div>
    <div class="fast-big-box">
        <div id="bagel_div" class="fast-small-box">
            <img src="image/icons8-bagel-48.png" alt="Burger">
            <h3>Bagel</h3>
            <h4>Price: </h4>
            <p>RM 12.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with bagel and drinks</p>
        </div>
        <div id="fries_div" class="fast-small-box">
            <img src="image/icons8-french-fries-48.png" alt="Burger">
            <h3>French Fries</h3>
            <h4>Price: </h4>
            <p>RM 6.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with french fries and drinks</p>
        </div>
        <div id="potato_div" class="fast-small-box">
            <img src="image/icons8-potato-chips-48.png" alt="Burger">
            <h3>Potato Chip</h3>
            <h4>Price: </h4>
            <p>RM 7.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with potato chip and drinks</p>
        </div>
    </div>
</div>
<script src="js/appertizerScript.js"></script>
<script src="js/foodMenu.js"></script>