<div class="cart-container">
    <h3 class="cart-title">Food Section</h3>
    <div id="food_container" class="food-section-div">
        
    </div>
    <div id="no_food" class="cart-no-food">No Food added in Cart</div>
    <div id="checkout" class="checkout-container">
        <div class="checkout-div">
            <p>Items:</p>
            <p>Total:</p>
            <p>Tax 6%:</p>
            <p>Total Amount:</p>
        </div>
        <div class="price-container">
            <p id="checkout_item"></p>
            <p id="checkout_total"></p>
            <p id="checkout_tax"></p>
            <p id="checkout_ammount"></p>
        </div>
    </div>
    <button id="checkout_btn" class="checkout-btn">Proceed to Checkout</button>
</div>
<script src="js/cart.js"></script>