<div class="cart-container">
    <h3 class="cart-title">Food Section</h3>
    <div id="food_container" class="food-section-div">
        <div class="food-content-div">
            <img src="image/icons8-bagel-48.png" alt="bagel">
            <div class="content-div">
                <p id="cart_food">Food: </p>
                <p id="cart_size">Size: </p>
                <p id="cart_drink">Drink: </p>
            </div>
            <div class="content-div">
                <p id="cart_price">Price: </p>
                <div class="content-price">
                    <p id="cart_quan">0</p>
                </div>
            </div>
        </div>
    </div>
    <h3 class="cart-title">Drink Section</h3>
    <div id="drink_container" class="food-section-div">
        <div class="food-content-div">
            <img src="image/icons8-bagel-48.png" alt="bagel">
            <div class="content-div">
                <p id="cart_drink">Drink: </p>
            </div>
            <div class="content-div">
                <p id="cart_price_drink">Price: </p>
                <div class="content-price">
                    <button id="cart_minus">-</button>
                    <p id="cart_quan_drink">0</p>
                    <button id="cart_add">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-container">
        <div class="checkout-div">
            <p>Items:</p>
            <p>Total: RM</p>
            <p>Tax 6%: RM</p>
            <p>Total Amount: </p>
        </div>
        <div class="price-container">
            <p id="checkout_item"></p>
            <p id="checkout_total"></p>
            <p id="checkout_tax"></p>
            <p id="checkout_ammount"></p>
        </div>
    </div>
    <button id="checkout_btn" class="checkout-btn">Proceed to Checkout</button>
</div>
<script src="js/cart.js"></script>