<div class="account-container">
    <div class="account-div">
        <i class="fas fa-2x fa-id-badge"></i>
        <div>User Id:</div>
        <div id="id">Ken</div>
    </div>
    <div class="account-div">
        <i class="fas fa-2x fa-user"></i>
        <div>Username:</div>
        <div id="user">Ken</div>
    </div>
    <div class="account-div">
        <i class="fas fa-2x fa-fingerprint"></i>
        <div>Password:</div>
        <div id="pass">Ken</div>
    </div>
    <div class="account-div">
        <i class="fas fa-2x fa-calendar-week"></i>
        <div>Birth Date:</div>
        <div id="birth">Ken</div>
    </div>
    <div class="account-div">
        <i class="fas fa-2x fa-phone"></i>
        <div>Phone Number:</div>
        <div id="phone">Ken</div>
    </div>
</div>
<script src="js/checkAccount.js"></script>