<div class="fast-container">
    <div class="food-menu-bar">
        <p id="food_menu_fast">Fast Food</p>
        <p id="food_menu_main">Main Course</p>
        <p id="food_menu_dessert">Dessert</p>
        <p id="food_menu_appertizer">Appertizer</p>
        <p id="food_menu_drink">Drinks</p>
    </div>
    <div class="fast-big-box">
        <div id="banana_div" class="fast-small-box">
            <img src="image/icons8-banana-split-100.png" alt="Burger">
            <h3>Banana Split</h3>
            <h4>Price: </h4>
            <p>RM 13.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with banana split and drinks</p>
        </div>
        <div id="cinnamon_div" class="fast-small-box">
            <img src="image/icons8-cinnamon-roll-48.png" alt="Burger">
            <h3>Cinnamon Roll</h3>
            <h4>Price: </h4>
            <p>RM 9.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with cinnamon roll and drinks</p>
        </div>
        <div id="ice_div" class="fast-small-box">
            <img src="image/icons8-ice-pop-pink-100.png" alt="Burger">
            <h3>Ice Cream</h3>
            <h4>Price: </h4>
            <p>RM 9.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with ice cream and drinks</p>
        </div>
        <div id="macaron_div" class="fast-small-box">
            <img src="image/icons8-macaron-64.png" alt="Burger">
            <h3>Macaron</h3>
            <h4>Price: </h4>
            <p>RM 4.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with macaron and drinks</p>
        </div>
    </div>
</div>
<script src="js/dessertScript.js"></script>
<script src="js/foodMenu.js"></script>