<div class="fast-container">
    <div class="food-menu-bar">
        <p id="food_menu_fast">Fast Food</p>
        <p id="food_menu_main">Main Course</p>
        <p id="food_menu_dessert">Dessert</p>
        <p id="food_menu_appertizer">Appertizer</p>
        <p id="food_menu_drink">Drinks</p>
    </div>
    <div class="fast-big-box">
        <div id="coconut_div" class="fast-small-box">
            <img src="image/icons8-coconut-cocktail-48.png" alt="Burger">
            <h3>Coconut Cocktail</h3>
            <h4>Price: </h4>
            <p>RM 19.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi for coconut cocktail</p>
        </div>
        <div id="coffee_div" class="fast-small-box">
            <img src="image/icons8-coffee-48.png" alt="Burger">
            <h3>Coffee</h3>
            <h4>Price: </h4>
            <p>RM 6.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi for coffee</p>
        </div>
        <div id="special_div" class="fast-small-box">
            <img src="image/icons8-kawaii-coffee-64.png" alt="Burger">
            <h3>Special Coffee</h3>
            <h4>Price: </h4>
            <p>RM 13.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi for special coffee</p>
        </div>
        <div id="lemonade_div" class="fast-small-box">
            <img src="image/icons8-lemonade-48.png" alt="Burger">
            <h3>Lemonade</h3>
            <h4>Price: </h4>
            <p>RM 8.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi for lemenade</p>
        </div>
    </div>
    <div class="fast-big-box">
        <div id="milk_div" class="fast-small-box">
            <img src="image/icons8-milkshake-48.png" alt="Burger">
            <h3>Milkshake</h3>
            <h4>Price: </h4>
            <p>RM 13.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi for milkshake</p>
        </div>
    </div>
</div>
<script src="js/drinkScript.js"></script>
<script src="js/foodMenu.js"></script>