<div class="fast-container">
    <div class="fast-big-box">
        <div class="fast-small-box">
            <img src="image/icons8-beef-burger-64.png" alt="Burger">
            <h3>Beef Burger</h3>
            <div class="small-box-button">
                <button id="fast_burger_small">Small</button>
                <button id="fast_burger_big">Big</button>
            </div>
            <button id="fast_burger_add" class="small-box-btn">Add</button>
        </div>
        <div class="fast-small-box">
            
        </div>
    </div>
    <div class="fast-big-box">
        <div class="fast-small-box">

        </div>
        <div class="fast-small-box">
            
        </div>
    </div>
</div>
<script src="js/fastScript.js"></script>