<div class="fast-container">
    <div class="food-menu-bar">
        <p id="food_menu_fast">Fast Food</p>
        <p id="food_menu_main">Main Course</p>
        <p id="food_menu_dessert">Dessert</p>
        <p id="food_menu_appertizer">Appertizer</p>
        <p id="food_menu_drink">Drinks</p>
    </div>
    <div class="fast-big-box">
        <div id="burger_div" class="fast-small-box">
            <img src="image/icons8-beef-burger-64.png" alt="Burger">
            <h3>Beef Burger</h3>
            <h4>Price: </h4>
            <p>RM 19.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with burger, drinks and fries</p>
        </div>
        <div id="taco_div" class="fast-small-box">
            <img src="image/icons8-taco-64.png" alt="Burger">
            <h3>Taco</h3>
            <h4>Price: </h4>
            <p>RM 23.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with taco, drinks and fries</p>
        </div>
        <div id="spring_div" class="fast-small-box">
            <img src="image/icons8-spring-roll-48.png" alt="Burger">
            <h3>Spring Roll</h3>
            <h4>Price: </h4>
            <p>RM 14.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with spring rolll, drinks and fries</p>
        </div>
        <div id="hotdog_div" class="fast-small-box">
            <img src="image/icons8-frankfurter-64.png" alt="Burger">
            <h3>American Hotdog</h3>
            <h4>Price: </h4>
            <p>RM 19.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with hotdog, drinks and fries</p>
        </div>
    </div>
</div>
<script src="js/fastScript.js"></script>
<script src="js/foodMenu.js"></script>