<header class="index-header-container">
    <div class="header-icon-box">
        <i id="index_side_menu_btn" class="fas fa-2x fa-bars"></i>
    </div>
    <div class="index-title-box">
        <i class="fas fa-3x fa-seedling"></i>
        <h1 class="header-title">Food App</h1>
    </div>
    <div class="header-side-container">
        <div class="header-menu-bar">
            <div id="login" class="header-menu-content">
                <div id="loginP"><i class="fas fa-sign-in-alt"></i><%= text %></div>
                <div id="loginPop" class="header-content-popUp"></div>
                <ul id="login_pop">
                    <li id="login_pop_check">Check Account</li>
                    <li id="login_pop_logout">Logout</li>
                </ul>
            </div>
            <div id="order" class="header-menu-content">
                <div id="orderP"><i class="fas fa-stroopwafel"></i>Track Order</div>
                <div id="orderPop" class="header-content-popUp"></div>
            </div>
            <div id="history" class="header-menu-content">
                <div id="historyP"><i class="fas fa-history"></i>View History</div>
                <div id="historyPop" class="header-content-popUp"></div>
            </div>
            <div id="about" class="header-menu-content">
                <div id="aboutP"><i class="fas fa-user-tie"></i>About Us</div>
                <div id="aboutPop" class="header-content-popUp"></div>
            </div>
        </div>
    </div>
</header>