<div class="history-container">
    <div id="history_container" class="history-container-div">
        
    </div>
    <div id="no_history" class="no-history">No Delivered History</div>
    <button id="history_btn" class="history-btn">Clear History</button>
</div>
<script src="js/history.js"></script>