<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" 
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <header class="index-header-container">
        <div class="header-icon-box">
            <i id="index_side_menu_btn" class="fas fa-2x fa-bars"></i>
        </div>
        <div class="index-title-box">
            <i class="fas fa-3x fa-seedling"></i>
            <h1 class="header-title">Food App</h1>
        </div>
        <div class="header-menu-bar">
            <div id="login" class="header-menu-content">
                <div id="loginP"><i class="fas fa-sign-in-alt"></i>Login/Sign Up</div>
                <div id="loginPop" class="header-content-popUp"></div>
            </div>
            <div id="order" class="header-menu-content">
                <div id="orderP"><i class="fas fa-stroopwafel"></i>Track Order</div>
                <div id="orderPop" class="header-content-popUp"></div>
            </div>
            <div id="history" class="header-menu-content">
                <div id="historyP"><i class="fas fa-history"></i>View History</div>
                <div id="historyPop" class="header-content-popUp"></div>
            </div>
            <div id="about" class="header-menu-content">
                <div id="aboutP"><i class="fas fa-user-tie"></i>About Us</div>
                <div id="aboutPop" class="header-content-popUp"></div>
            </div>
        </div>
    </header>
    <div class="index-side-menu" id="index_side_menu">
        <ul>
            <li><i class="fas fa-sign-in-alt"></i>Login/Sign Up</li>
            <li><i class="fas fa-stroopwafel"></i>Track Order</li>
            <li><i class="fas fa-history"></i>View History</li>
            <li><i class="fas fa-user-tie"></i>About Us</li>
        </ul>
        <div class="side-menu-bar">
            <i class="fas fa-phone"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>