<div class="fast-container">
    <div class="food-menu-bar">
        <p id="food_menu_fast">Fast Food</p>
        <p id="food_menu_main">Main Course</p>
        <p id="food_menu_dessert">Dessert</p>
        <p id="food_menu_appertizer">Appertizer</p>
    </div>
    <div class="fast-big-box">
        <div id="bento_div" class="fast-small-box">
            <img src="image/icons8-bento-48.png" alt="Burger">
            <h3>Japanese Bento</h3>
            <h4>Price: </h4>
            <p>RM 29.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with japanese bento, vegetables and drinks</p>
        </div>
        <div id="fish_div" class="fast-small-box">
            <img src="image/icons8-fish-and-vegetables-50.png" alt="Burger">
            <h3>Fish Set</h3>
            <h4>Price: </h4>
            <p>RM 39.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with fish set, vegetables and drinks</p>
        </div>
        <div id="pizza_div" class="fast-small-box">
            <img src="image/icons8-eights-64.png" alt="Burger">
            <h3>Pizza</h3>
            <h4>Price: </h4>
            <p>RM 20.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with pizza, vegetables and drinks</p>
        </div>
        <div id="turkey_div" class="fast-small-box">
            <img src="image/icons8-thanksgiving-turkey-64.png" alt="Burger">
            <h3>Turkey</h3>
            <h4>Price: </h4>
            <p>RM 29.99</p>
            <h4>Describtion: </h4>
            <p>Original recepi comes with turkey, vegetables and drinks</p>
        </div>
    </div>
</div>
<script src="js/mainScript.js"></script>
<script src="js/foodMenu.js"></script>