<div class="index-side-menu" id="index_side_menu">
    <div class="side-menu-user">
        <i class="fas fa-2x fa-user"></i>
        <p id="side_menu_user"><%= text %></p>
    </div>
    <ul>
        <li id="side_menu_login" class="side-menu-li"><i class="fas fa-sign-in-alt"></i><%= text %></li>
        <li id="side_menu_check" class="side-menu-pop"><i class="fas fa-user-circle"></i>Check Account</li>
        <li id="side_menu_logout" class="side-menu-pop"><i class="fas fa-sign-out-alt"></i>Logout</li>
        <li id="side_menu_track" class="side-menu-li"><i class="fas fa-stroopwafel"></i>Track Order</li>
        <li id="side_menu_history" class="side-menu-li"><i class="fas fa-history"></i>View History</li>
        <li id="side_menu_about" class="side-menu-li"><i class="fas fa-user-tie"></i>About Us</li>
    </ul>
    <div class="side-menu-bar">
        <i class="fas fa-phone"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter"></i>
    </div>
</div>