<div class="track-container">
    <div id="track_box" class="new-track-container">

    </div>
    <div id="no_track" class="no-track">No Purchased History</div>
</div>
<script src="js/track.js"></script>