<div class="trackingOrder-container">
    <div>Tracking Number: <p id="track_id"><%= id %></p></div>
    <div>Deliver by: Food Menu</div>
    <div>Recieved by: Customer</div>
    <div>Quantity: <p id="track_qauntity"></p></div>
    <div>Total: <p id="track_total"></p></div>
    <div>Tax: <p id="track_tax"></p></div>
    <div>Amount: <p id="track_amount"></p></div>
    <div id="order_container" class="order-container">
        
    </div>
    <div class="price-container">

    </div>
</div>
<script src="js/trackingOrder.js"></script>