*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Header */
.index-header-container{
    width: 100%;
    height: 160px;
    background-color: #F01783;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    display: flex;
}
.header-icon-box{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    display: none;
}
.header-icon-box i{
    cursor: pointer;
}
.index-title-box{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.header-side-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-menu-bar{
    display: flex;
    margin-top: 90px;
}
.header-menu-content{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.header-menu-content i{
    margin-right: 10px;
}
.header-content-popUp{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 3px;
    margin-top: 3px;
    display: none;
}

/*Side menu*/
.index-side-menu{
    position: fixed;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: #F01783;
    display: none;
}
.side-menu-user{
    width: 100%;
    height: 150px;
    background-color: #F01783;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.side-menu-user i, .side-menu-user p{
    margin-top: 20px;
}
.index-side-menu ul{
    height: 330px;
}
.index-side-menu li{
    width: 100%;
    height: 60px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}
.index-side-menu li i{
    padding-right: 10px;
}
.index-side-menu li:hover{
    box-shadow: -3px 3px 37px -1px rgba(0,0,0,0.75);
}
.side-menu-bar{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.side-menu-bar i{
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.side-menu-bar i:nth-child(1):hover{
    color: springgreen;
}
.side-menu-bar i:nth-child(2):hover{
    color:mediumblue;
}
.side-menu-bar i:nth-child(3):hover{
    color:violet;
}
.side-menu-bar i:nth-child(4):hover{
    color:cyan;
}

/*blur effect*/
.index-blur{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    display: none;
}
.index-main-container{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
/*index login*/
.login-container{
    width: 500px;
    height: 300px;
    background-color: white;
    position: relative;
    margin-top: 5%;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.login-cancel{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}
.index-login-btn-container{
    width: 250px;
    height: 50px;
    box-shadow: -3px 3px 37px -1px rgba(0,0,0,0.75);
    border-radius: 30px;
    display: flex;
    position: relative;
}
.index-login-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 50px;
    background-color: #F01783;
    border-radius: 30px;
    transition: 0.7s;
}
.index-login-button{
    width: 50%;
    height: 100%;
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
}
.index-login-form{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
}
.index-login-input{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}
.index-login-enter{
    width: 30%;
    height: 30px;
    outline: none;
    border-radius: 15px;
    background-color: #F01783;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
.index-login-input:focus{
    width: 62%;
}
.index-login-input:hover{
    width: 62%;
}
#login_conPass, #login_birth, #login_phone{
    display: none;
} 
/*error*/
.error-box{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    top: 30%;
}
.error-user{
    width: 300px;
    height: 40px;
    background-color: #F01783;
    border-radius: 20px;
    display: none;
    justify-items: center;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin-top: 20px;
}
.error-user i{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
/*food container*/
.index-food-container{
    width: 50%;
    height: 400px;
    margin-top: 80px;
    border-radius: 50px;
}
.index-food-box{
    width: 100%;
    height: 50%;
    display: flex;
}
.food-top-content{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    margin: 5px;
    background-color: #F651C1;
}
.food-bottom-content{
    width: 33.33%;
    height: 99%;
    border-radius: 30px;
    margin: 5px;
    margin-top: 1%;
    background-color: #F462C6;
}

@media screen and (min-width:901px){
    .index-side-menu{
        display: none;
    }
}
@media screen and (max-width:900px){
    .header-icon-box{
        display: flex;
    }
    .header-side-container{
        display: none;
    }
}