*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Header */
.index-header-container{
    width: 100%;
    height: 160px;
    background-color: #F01783;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    display: flex;
}
.header-icon-box{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    display: none;
}
.header-icon-box i{
    cursor: pointer;
}
.index-title-box{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.header-side-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-menu-bar{
    display: flex;
    margin-top: 110px;
}
.header-menu-content{
    width: 170px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.header-menu-content div{
    text-align: center;
}
.header-menu-content i{
    margin-right: 10px;
}
.header-content-popUp{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 3px;
    margin-top: 3px;
    display: none;
}
#login ul{
    margin-top: 10px;
    list-style: none;
    display: none;
}
#login li{
    background-color: #F01783;
    width: 120px;
    height: 40px;
    padding: 10px;
}
/*Side menu*/
.index-side-menu{
    position: fixed;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: #F01783;
    display: none;
}
.side-menu-user{
    width: 100%;
    height: 150px;
    background-color: #F01783;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.side-menu-user i, .side-menu-user p{
    margin-top: 20px;
}
.index-side-menu ul{
    height: 330px;
}
.side-menu-li{
    width: 100%;
    height: 60px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}
.side-menu-li i{
    padding-right: 10px;
}
.side-menu-li:hover{
    box-shadow: -3px 3px 37px -1px rgba(0,0,0,0.75);
}
.side-menu-pop{
    width: 100%;
    height: 50px;
    padding-left: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.side-menu-pop i{
    padding-right: 5px;
}
.side-menu-pop:hover{
    box-shadow: -3px 3px 37px -1px rgba(0,0,0,0.75);
}
.side-menu-bar{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.side-menu-bar i{
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.side-menu-bar i:nth-child(1):hover{
    color: springgreen;
}
.side-menu-bar i:nth-child(2):hover{
    color:mediumblue;
}
.side-menu-bar i:nth-child(3):hover{
    color:violet;
}
.side-menu-bar i:nth-child(4):hover{
    color:cyan;
}

/*blur effect*/
.index-blur{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    display: none;
}
.index-main-container{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/*index login*/
.login-container{
    width: 500px;
    height: 300px;
    background-color: white;
    position: absolute;
    margin-top: 5%;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.login-cancel{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}
.index-login-btn-container{
    width: 250px;
    height: 50px;
    box-shadow: -3px 3px 37px -1px rgba(0,0,0,0.75);
    border-radius: 30px;
    display: flex;
    position: relative;
}
.index-login-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 50px;
    background-color: #F01783;
    border-radius: 30px;
    transition: 0.7s;
}
.index-login-button{
    width: 50%;
    height: 100%;
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
}
.index-login-form{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
}
.index-login-input{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}
.index-login-enter{
    width: 30%;
    height: 30px;
    outline: none;
    border-radius: 15px;
    background-color: #F01783;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
.index-login-input:focus{
    width: 62%;
}
.index-login-input:hover{
    width: 62%;
}
#login_conPass, #login_birth, #login_phone{
    display: none;
} 
/*error*/
.error-box{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    top: 30%;
}
.error-user{
    width: 300px;
    height: 40px;
    background-color: #F01783;
    border-radius: 20px;
    display: none;
    justify-items: center;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin-top: 20px;
}
.error-user i{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

/*index container*/
.index-food-container{
    width: 50%;
    height: 400px;
    margin-top: 80px;
    border-radius: 50px;
}
.index-food-box{
    width: 100%;
    height: 50%;
    display: flex;
}
.food-top-content{
    width: 50%;
    height: 99%;
    border-radius: 30px;
    margin: 5px;
    background-color: #F651C1;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.food-top-content img{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 10px;
}
.food-top-content-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.food-top-content-box p, .food-top-content-box h3{
    /* margin top, right, bottom, left*/
    margin: 20px 20px 10px 20px;
    text-align: justify;
}
.food-bottom-content{
    width: 33.33%;
    height: 99%;
    border-radius: 30px;
    margin: 5px;
    margin-top: 2%;
    background-color: #F462C6;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.food-bottom-content img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    margin-left: 10px;
}
.food-bottom-content-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.food-bottom-content-box p, .food-bottom-content-box h3{
    text-align: justify;
    margin: 10px 10px 10px 10px;
} 
.fast-container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 70px;
}
.food-menu-bar{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.food-menu-bar p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}
.food-menu-bar p:hover{
    color: #F01783;
}
.fast-big-box{
    width: 60%;
    height: 75%;
    display: flex;
    justify-items: center;
    justify-items: center;
    align-content: center;
}
.fast-small-box{
    width: 24%;
    height: 98%;
    background-color: #F651C1;
    border-radius: 30px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
}
.fast-small-box img{
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.fast-small-box h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.fast-small-box h4{
    margin-top: 10px;
    margin-left: 5px;
}
.fast-small-box p{
    margin-top: 5px;
} 

/* adding food page*/
.adding-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.adding-container img{
    width: 80px;
    height: 60px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.adding-container p, .adding-container h2{
    margin-top: 30px;
}
.adding-bar{
    width: 100%;
    height: 60px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    margin-top: 20px;
    position: relative;
}
.adding-bar button{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}
.adding-toggle{
    position:absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 30px;
    background-color: #F462C6;
    transition: 0.7s;
}
.adding-content-size{
    width: 90%;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.adding-content-size-div{
    position: relative;
    width: 32%;
    height: 200px;
    margin-left: 0.66%;
    margin-right: 0.66%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.adding-content-size-div:hover{
    box-shadow: -3px 3px 37px -1px rgba(0,0,0,0.75);
}
.adding-content-size-div p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
#size_img1{
    width: 60px;
    height: 60px;
}
#size_img2{
    width: 80px;
    height: 80px;
}
#size_img3{
    width: 100px;
    height: 100px;
}
.adding-content-drink{
    width: 90%;
    display: none;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}
.adding-content-drink-box{
    width: 100%;
    height: 200px;
    display: flex;
}
.adding-content-drink-div{
    width: 32%;
    height: 98%;
    display: flex;
    flex-direction: column;
    margin-right: 0.6%;
    margin-left: 0.6%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 30px;
    cursor: pointer;
}
.adding-content-drink-div:hover{
    box-shadow: -3px 3px 37px -1px rgba(0,0,0,0.75);
}
.adding-content-drink-div img{
    width: 50px;
    height: 50px;
}
.adding-content-drink-div p{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
.adding-container-add{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #F462C6;
    margin: 20px auto;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
}

@media screen and (min-width:901px){
    .index-side-menu{
        display: none;
    }
}
@media screen and (max-width:1400px){
    .index-food-container{
        width: 60%;
    }
}
@media screen and (max-width:1150px){
    .index-food-container{
        width: 70%;
    }
}
@media screen and (max-width:1000px){
    .index-food-container{
        width: 70%;
        height: 600px;
    }
}
@media screen and (max-width:900px){
    .header-icon-box{
        display: flex;
    }
    .header-side-container{
        display: none;
    }
    .food-top-content{
        flex-direction: column;
    }
    .food-top-content img{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 10px;
    }
    .food-bottom-content{
        flex-direction: column;
    }
    .food-bottom-content img{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 10px;
    }
}